@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  color: #ededed;
}

header, nav, main, footer, section{
  display: block;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #081b29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
}

.navbar .nav-item {
  list-style: none;
  display: inline-block;  
}

.navbar .nav-item a{
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar .nav-item a:hover,
.navbar a.active {
  color: #00abf0;
}

.home {
  height: 100vh;
  background: url('Home.png') no-repeat;
  background-color: #081b29;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content{
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content h3::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.home-content .btn-box a {
  position: relative;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  display: inline-flex;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-content .btn-box a:hover {
  color: #00abf0;
}

.home-content .btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.home-content .btn-box a:nth-child(2):hover {
  color: #081b29;
}

.home-content .btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.home-content .btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: .5s;
}

.home-content .btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
  animation: manipActiveHover .1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.home-imgHover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 150%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.3s;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

.about {
  background: #081b29;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.about .about-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}  

.about .about-container .about-img {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about .about-container .about-img img {
  max-width: 20%;
  height: auto;
  border-radius: 8px;
}

.about .about-container .about-details {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about .about-container .about-img .about-details h2 {
  position: relative;
  font-size: 50px;
  font-weight: 700;
  color: #00abf0;
  line-height: 1.2;
  margin-top: 0;
}

.about .about-container .about-img .about-details h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.about .about-container .about-img .about-details p {
  display: block;
  margin-bottom: 20px;
  letter-spacing: .6px;
}

.about .about-container .about-img .about-details button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #00abf0;
  color: #081b29;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;;
}

.about .about-container .about-img .about-details button:hover {
  background-color: #00abf0;
  opacity: 50%;
}

.achievement {
  background: #081b29;
  background-position: center;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.achievement .achievement-container{
  display: block;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}

.achievement .achievement-container h3{
  color: #00abf0;
  font-size: 40px;
}

.achievement .achievement-container .row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
  background: #081b29;
}

.achievement .achievement-container .row .cert-box {
  border: 1px solid #ddd;
  padding: 8px;
  box-sizing: border-box;
}

.achievement .achievement-container .row .cert-box:hover {
  background: #081b29;
  opacity: 70%;
}

.achievement .achievement-container .row .cert-box img {
  max-width: 100%;
  height: auto;
  display: block;
}

.portfolio {
  background: #081b29;;
  background-position: center;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
}

.portfolio .portfolio-container {
  display: block;
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio .portfolio-container h2{
  color: #00abf0;
  font-size: 40px;
}

.portfolio .portfolio-container p {
  color: #ededed;
  font-size: 20px;
}

.portfolio .portfolio-container .row {
  size: 10;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  background: #081b29;
}

.portfolio .portfolio-container .row .portfolio-box{
  border: 1px solid #ddd;
  padding: 8px;
  box-sizing: border-box;
}

.portfolio .portfolio-container .row .portfolio-box:hover {
  background: #081b29;
  opacity: 70%;
}

.portfolio .portfolio-container .row .portfolio-box img {
  max-width: 100%;
  height: auto;
  display: block;
}